<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/head::head ('Danh sách NCC')}">
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">
    <th:block th:insert="~{layout/sidebar::sidebar}"></th:block>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="page-title m-0">Thêm mới</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-default">
                            <div class="card-body">
                                <div class="mt-2">
                                    <div class="mt-4">
                                        <div class="container">
<!--                                            <div class="alert alert-danger"  th:if="${errors != null and not #lists.isEmpty(errors)}">-->
<!--                                                <ul>-->
<!--                                                    <li th:each="error : ${errors}"-->
<!--                                                        th:text="${error.defaultMessage}"></li>-->
<!--                                                </ul>-->
<!--                                            </div>-->

                                            <form th:action="@{/supplier/create}" th:object="${supplier}"
                                                  method="post">
                                                <div class="mb-3">
                                                    <label for="code" class="form-label">Mã NCC: </label>
                                                    <input type="text" class="form-control" id="code" name="code"
                                                           th:field="*{code}" maxlength="50" required/>
                                                    <p style="color: red" th:errors="*{code}"></p>
                                                    <span style="color: red" th:if="${errorMessage}" th:text="${errorMessage}"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="name" class="form-label">Tên NCC: </label>
                                                    <input type="text" class="form-control" id="name" name="name"
                                                           th:field="*{name}" required/>
                                                    <p style="color: red" th:errors="*{name}"></p>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email" class="form-label">Email: </label>
                                                    <input type="text" class="form-control" id="email" name="name"
                                                           th:field="*{email}" required/>
                                                    <p style="color: red" th:errors="*{email}"></p>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="address" class="form-label">Địa chỉ: </label>
                                                    <input type="text" class="form-control" id="address"
                                                           name="description" th:field="*{address}" required/>
                                                    <p style="color: red" th:errors="*{address}"></p>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="phone" class="form-label">SĐT: </label>
                                                    <input type="text" class="form-control" id="phone"
                                                           name="description" th:field="*{phone}"/>
                                                    <p style="color: red" th:errors="*{phone}"></p>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="note" class="form-label">Mô tả: </label>
                                                    <input type="text" class="form-control" id="note"
                                                           name="description" th:field="*{note}"/>
                                                    <p style="color: red" th:errors="*{note}"></p>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Thêm mới</button>
                                                <button type="reset" class="btn btn-danger">Nhập lại</button>
                                                <a th:href="@{/supplier/list}">Quay lại</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="modal fade" id="successModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p th:text="${message}"></p> <!-- Dùng biến `message` từ controller -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.href='/supplier/list'">Đóng</button>
            </div>
        </div>
    </div>
</div>

</body>

<th:block th:replace="~{layout/script::script}">
</th:block>
<script>
    $(document).ready(function () {
        // Kiểm tra nếu biến message có giá trị thì hiển thị modal
        let message = $("#successModal .modal-body p").text().trim();
        if (message.length > 0) {
            $("#successModal").modal("show");
        }
    });
</script>
</html>