<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/head::head ('Quản lý thuốc')}">

</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">
    <th:block th:insert="~{layout/sidebar::sidebar}"></th:block>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="page-title m-0">Quản lý thuốc</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-default">
                            <div class="card-body">
                                <!--                                Bộ lọc-->
                                <div class="mt-2">
                                    <!--                                    <span style="font-style: italic; font-weight: bold;">Bộ lọc thuốc</span>-->
                                    <form th:action="@{/filter}" method="get" class="form-inline">
                                        <div class="form-group mb-2">
                                            <label for="filterBy" class="mr-2"> Lọc theo:</label>
                                            <select id="filterBy" name="filterBy" class="form-control">
                                                <option value="maThuoc">Mã thuốc</option>
                                                <option value="nhomThuoc">Nhóm thuốc</option>
                                                <option value="nhomThuoc">Tên thuốc</option>
                                                <option value="nhomThuoc">Hoạt chất</option>
                                                <option value="nhomThuoc">Giá nhập</option>
                                                <option value="nhomThuoc">Giá bán lẻ</option>
                                                <option value="nhomThuoc">Giá bán sỉ</option>
                                            </select>
                                        </div>
                                        <div class="form-group mx-sm-3 mb-2">
                                            <select id="condition" name="condition" class="form-control">
                                                <option value="equals">Điều kiện</option>
                                                <option value="greaterThan">Bằng</option>
                                                <option value="greaterThan">Lớn hơn</option>
                                                <option value="greaterThan">Nhỏ hơn</option>
                                                <option value="greaterThan">Lớn hơn bằng</option>
                                                <option value="greaterThan">Nhỏ hơn bằng</option>
                                                <option value="greaterThan">Khác</option>
                                                <option value="greaterThan">Tất cả</option>
                                            </select>
                                        </div>
                                        <div class="form-group mx-sm-3 mb-2">
                                            <label for="search" class="mr-2">Tìm kiếm:</label>
                                            <input type="text" id="search" name="search" class="form-control"/>
                                        </div>
                                        <button type="submit" class="btn btn-primary mb-2">
                                            <i class="fa-solid fa-magnifying-glass"> </i>
                                            Lọc kết quả
                                        </button>
                                    </form>

                                </div>

                                <!---->
                                <div class="mt-2">
                                    <div class="mt-4">
                                        <div class="table-responsive" style="max-height: 600px;">
                                            <table class="table table-bordered table-hover table-valign-middle table-head-fixed text-nowrap text-center">
                                                <thead>
                                                <tr>
                                                    <th class="bg-light">Mã thuốc</th>
                                                    <th class="bg-light">Nhóm thuốc</th>
                                                    <th class="bg-light">Tên thuốc</th>
                                                    <th class="bg-light">Hoạt chất</th>
                                                    <th class="bg-light">ĐVT</th>
                                                    <th class="bg-light">ĐV QĐ</th>
                                                    <th class="bg-light">Số lượng</th>
                                                    <th class="bg-light">Giá nhập</th>
                                                    <th class="bg-light">Giá sỉ</th>
                                                    <th class="bg-light">Giá lẻ</th>
                                                    <th class="bg-light">% CK</th>
                                                    <th class="bg-light">% LN XC</th>
                                                    <th class="bg-light">% LN XL</th>
                                                    <th class="bg-light">VAT</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:if="${listMedicines.isEmpty()}">
                                                    <td colspan="14">${errorMessage}</td>
                                                </tr>
                                                <tr th:each="medicine : ${listMedicines}">
                                                    <td th:text="${medicine.code}"></td>
                                                    <td th:text="${medicine.name}"></td>
                                                    <td th:text="${medicine.activeIngredient}"></td>
                                                    <td th:text="${medicine.activeIngredient}"></td>
                                                    <td th:text="${medicine.unit}"></td>
                                                    <td th:text="${medicine.conversionUnit}"></td>
                                                    <td th:text="${medicine.quantity}"></td>
                                                    <td th:text="${medicine.importPrice}"></td>
                                                    <td th:text="${medicine.wholesalePrice}"></td>
                                                    <td th:text="${medicine.retailPrice}"></td>
                                                    <td th:text="${medicine.discountRate}"></td>
                                                    <td th:text="${medicine.wholesaleProfitRate}"></td>
                                                    <td th:text="${medicine.retailProfitRate}"></td>
                                                    <td th:text="${medicine.vatRate}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="container mt-3">
                                    <div class="button-container">
                                        <button class="btn btn-success"><i class="fas fa-plus"></i> Thêm</button>
                                        <button class="btn btn-warning"><i class="fas fa-edit"></i> Sửa</button>
                                        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i> Xóa</button>
                                        <button class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Trở về
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
            </div><!-- /.container-fluid -->
        </section>
    </div>
</div>
</body>
<th:block th:replace="~{layout/script::script}">
</th:block>
</html>