<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/head::head ('Thay đổi mật khẩu')}">
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">
    <th:block th:insert="~{layout/sidebar::sidebar}"></th:block>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="page-title m-0">Thay đổi mật khẩu</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-default">
                            <div class="card-body">
                                <form th:action="@{/user/changePassword/{id}(id=${user.id})}" method="post" th:object="${user}">

                                    <div class="form-group">
                                        <label class="col-form-label">Nhập mật khẩu cũ </label>
                                        <input type="password" class="form-control form-control-sm" name="oldPassword" required style="width: 50%;">
                                    </div>

                                    <div class="form-group">
                                        <label class="col-form-label">Nhập mật khẩu mới</label>
                                        <input type="password" class="form-control form-control-sm" name="newPassword1" required style="width: 50%;">
                                    </div>

                                    <div class="form-group">
                                        <label class="col-form-label">Nhập lại mật khẩu mới</label>
                                        <input type="password" class="form-control form-control-sm" name="newPassword2" required style="width: 50%;">
                                    </div>

                                    <div class="button-group">
                                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                                        <button type="reset" class="btn btn-warning">Reset</button>
                                        <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn btn-default">Trở về</a>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
            </div><!-- /.container-fluid -->
        </section>
    </div>
</div>
</body>
<th:block th:replace="~{layout/script::script}"></th:block>
</html>
