<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Thay đổi thông tin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/employee/edit.css">
</head>
<body>
<div class="container">
  <h2 class="text-center">Thông tin chỉnh sửa</h2>


  <!-- Form cho user -->
  <form th:action="@{/user/edit/{id}(id=${user.id})}" method="post" th:object="${user}">
    <div class="form-group">
      <label>Tên tài khoản</label>
      <input type="text" class="form-control" th:field="*{username}" readonly>
    </div>

    <div class="form-group">
      <label>Chức vụ</label>
      <input type="text" class="form-control" th:value="${user.role.roleName}" readonly>
    </div>
  </form>

  <!-- Form cho employee -->
  <form th:action="@{/employee/edit/{id}(id=${employee.id})}" method="post" th:object="${employee}">
    <div class="form-group">
      <label>Mã nhân viên</label>
      <input type="text" class="form-control" th:value="*{code}" readonly>
      <input type="hidden" th:field="*{code}">
    </div>

    <div class="form-group">
      <label>Tên nhân viên</label>
      <input type="text" class="form-control" th:field="*{fullName}" required>
    </div>

    <div class="form-group">
      <label>Địa chỉ</label>
      <textarea class="form-control" th:field="*{address}" required></textarea>
    </div>

    <div class="form-group">
      <label>Điện thoại</label>
      <input type="text" class="form-control" th:field="*{phone}" required>
    </div>

    <div class="form-group">
      <label>Ngày sinh</label>
      <input type="date" class="form-control" th:field="*{dob}" required>
    </div>

    <div class="form-group">
      <label>Ngày vào làm</label>
      <input type="date" class="form-control" th:field="*{hireDate}">
    </div>

    <div class="button-group">
      <button type="submit" class="btn btn-primary">Cập nhật thông tin</button>
      <a href="/employee" class="btn btn-default">Trở về</a>
    </div>
  </form>

</div>
</body>
</html>
