<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Thay đổi thông tin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/employee/create.css">
</head>
<body>
<div class="container">
  <h2 class="text-center">Thông tin nhân viên</h2>
  <form th:action="@{/employee/save}" method="post" th:object="${employee}">
    <div class="form-group">
      <label>Mã nhân viên</label>
      <input type="text" class="form-control" th:value="${employee.code}" readonly>
      <input type="hidden" th:field="*{code}">
    </div>

    <div class="form-group">
      <label>Tên nhân viên</label>
      <input type="text" class="form-control" th:field="*{fullName}" required>
    </div>

    <div class="form-group">
      <label>Địa chỉ</label>
      <textarea class="form-control" th:field="*{address}" required></textarea>
    </div>

    <div class="form-group">
      <label>Điện thoại</label>
      <input type="text" class="form-control" th:field="*{phone}" required>
    </div>

    <div class="form-group">
      <label>Ngày sinh</label>
      <input type="date" class="form-control" th:field="*{dob}" required>
    </div>

    <div class="form-group">
      <label>Ngày vào làm</label>
      <input type="date" class="form-control" th:field="*{hireDate}">
    </div>


    <div class="form-group">
      <label>Tên tài khoản</label>
      <input type="text" class="form-control" name="username" required>
    </div>

    <div class="form-group">
      <label>Chức vụ</label>
      <select class="form-control" name="role" required>
        <option value="1">Nhân viên</option>
        <option value="2">Quản lý</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Thêm</button>
    <button type="reset" class="btn btn-warning">Reset</button>
    <a href="/employee" class="btn btn-default">Trở về</a>
  </form>
</div>
</body>
</html>