<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/head::head ('Tạo mới hóa đơn theo đơn thuốc')}">
<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <div class="wrapper">
        <th:block th:insert="~{layout/sidebar::sidebar}"></th:block>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="page-title m-0">Hóa đơn theo đơn thuốc</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-default">
                                <div class="card-body">
                                    <form method="post" action="receipt/order/create" id="form-receipt" th:object="${receipt}">
                                        <div class="row align-items-start">
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Số phiếu</label>
                                                    <div class="col-sm-9 col-xl-7">
                                                        <input type="text" readonly class="form-control form-control-sm " name="code" value="" placeholder="">
                                                        <span class="invalid-feedback" role="alert">
                                                            <strong></strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Nhân viên</label>
                                                    <div class="col-sm-9 col-xl-7">
                                                        <input type="text" readonly class="form-control form-control-sm" value="" placeholder="">
<!--                                                        <input type="hidden" th:field="*{employee}">-->
                                                        <span class="invalid-feedback" role="alert">
                                                            <strong></strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Ngày lập</label>
                                                    <div class="col-sm-8 col-xl-7">
                                                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                                            <input type="text" class="form-control datepicker datetimepicker-input" name="created_from" data-toggle="datetimepicker"/>
                                                            <div class="input-group-append">
                                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                            </div>
                                                            <span class="invalid-feedback" role="alert">
                                                                <strong></strong>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label" for="customer">Khách hàng</label>
                                                    <div class="col-sm-8 col-xl-7">
                                                        <select class="form-control form-control-sm" id="customer" th:field="*{customer}" name="customer">
                                                            <option value="">Vui lòng chọn khách hàng</option>
                                                            <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
                                                        </select>
                                                        <span class="text-danger" role="alert">
                                                            <strong></strong>
                                                        </span>
                                                    </div>
                                                    <div class="col-1">
                                                        <button class="btn btn-primary">
                                                            <i class="fa-solid fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Triệu chứng</label>
                                                    <div class="col-sm-9 col-xl-8">
                                                        <textarea class="form-control form-control-sm" name="symptoms" rows="5"></textarea>
                                                        <span class="invalid-feedback" role="alert">
                                                            <strong></strong>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Tên BS</label>
                                                    <div class="col-sm-8 col-xl-7">
                                                        <input type="text" class="form-control form-control-sm" name="doctor" value="" placeholder="">
                                                        <span class="invalid-feedback" role="alert">
                                                            <strong></strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Địa chỉ BS</label>
                                                    <div class="col-sm-8 col-xl-7">
                                                        <input type="text" class="form-control form-control-sm " name="doctor_address" value="" placeholder="">
                                                        <span class="invalid-feedback" role="alert">
                                                            <strong></strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Chuẩn đoán</label>
                                                    <div class="col-sm-8 col-xl-7">
                                                        <input type="text" class="form-control form-control-sm " name="diagnose" value="" placeholder="">
                                                        <span class="invalid-feedback" role="alert">
                                                            <strong></strong>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-md-5">
                                                <div class="form-group row">
                                                    <label class="col-12 col-form-label">Danh sách thuốc</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive item-table">
                                            <div class="row no-gutters flex-nowrap">
                                                <div class="col-auto"><div class="text-center w-50px">&nbsp;</div></div>
                                                <div class="col-3"><div class="bg-light text-center font-weight-bold border text-nowrap p-2">Tên thuốc</div></div>
                                                <div class="col-2"><div class="bg-light text-center font-weight-bold border text-nowrap p-2">Đơn vị tính</div></div>
                                                <div class="col-2"><div class="bg-light text-center font-weight-bold border text-nowrap p-2">Số lượng</div></div>
                                                <div class="col-2"><div class="bg-light text-center font-weight-bold border text-nowrap p-2">Đơn giá</div></div>
                                                <div class="col"><div class="bg-light text-center font-weight-bold border text-nowrap p-2">Thành tiền</div></div>
                                            </div>
                                            <div class="row no-gutters flex-nowrap item-row" id="item-row-1">
                                                <div class="col-auto">
                                                    <div class="text-center w-50px pt-3">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="text-center border p-2 h-100">
                                                        <select class="form-control form-control-sm" name="medicine_2">
                                                            <option value="">Vui lòng chọn thuốc</option>
                                                            <option th:each="medicine : ${medicines}" th:value="${medicine.id}" th:text="${medicine.name}"></option>
                                                        </select>
                                                        <span class="text-danger" role="alert">
                                                            <strong></strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="text-center border p-2 h-100">
                                                        <select class="form-control form-control-sm" name="unit_1">
                                                            <option>Vui lòng chọn đơn vị tính</option>
                                                            <option value="">Viên</option>
                                                            <option value="">Hộp</option>
                                                        </select>
                                                        <span class="invalid-feedback" role="alert">
                                                            <strong></strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="text-center border p-2 h-100">
                                                        <input type="text" class="form-control form-control-sm quantity-input" data-row="1" name="quantity_1" value="" placeholder="">
                                                        <span class="invalid-feedback" role="alert">
                                                            <strong>
                                                            </strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="text-center border p-2 h-100">
                                                        <input type="text" class="form-control form-control-sm unit-price-input" data-row="1" name="unit_price_1" value="" placeholder="">
                                                        <span class="invalid-feedback" role="alert">
                                                            <strong>
                                                            </strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="border px-2 pt-3 py-2 h-100 text-right total-without-tax" id="total-without-tax-1"></div>
                                                    <input type="hidden" class="total-input" name="total_1" value="">
                                                </div>
                                            </div>
                                            <div class="row no-gutters flex-nowrap item-row" id="item-row-2">
                                                <div class="col-auto">
                                                    <div class="text-center w-50px pt-3">
                                                        <button type="button" class="border-0 bg-transparent p-0 fs-6 delete-row text-danger" data-row="2"><i class="fas fa-minus-circle"></i></button>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="text-center border p-2 h-100">
                                                        <select class="form-control form-control-sm" name="medicine_2">
                                                            <option value="">Vui lòng chọn thuốc</option>
                                                        </select>
                                                        <span class="text-danger" role="alert">
                                                            <strong></strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="text-center border p-2 h-100">
                                                        <select class="form-control form-control-sm" name="unit_2">
                                                            <option value="">Viên</option>
                                                            <option value="">Hộp</option>
                                                        </select>
                                                        <span class="invalid-feedback" role="alert">
                                                            <strong></strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="text-center border p-2 h-100">
                                                        <input type="text" class="form-control form-control-sm quantity-input" data-row="2" name="quantity_2" value="" placeholder="">
                                                        <span class="invalid-feedback" role="alert">
                                                            <strong>
                                                            </strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="text-center border p-2 h-100">
                                                        <input type="text" class="form-control form-control-sm unit-price-input" data-row="2" name="unit_price_2" value="" placeholder="">
                                                        <span class="invalid-feedback" role="alert">
                                                            <strong>
                                                            </strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="border px-2 pt-3 py-2 h-100 text-right total-without-tax" id="total-without-tax-2"></div>
                                                    <input type="hidden" class="total-input" name="total_2" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="item_row" value="1">
                                        <div class="text-center mt-3">
                                            <div class="row align-items-center">
                                                <div class="col-6 text-right">
                                                    <div class="mt-2">
                                                        <button type="button" class="btn btn-info w-120px" data-url="#" data-form_id="#form-receipt" id="btnCreateReceipt">
                                                            <i class="fa-solid fa-circle-plus"></i>
                                                            Thanh toán
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-6 text-left">
                                                    <div class="mt-2">
                                                        <button type="button" class="btn btn-secondary w-120px">
                                                            <i class="fa-solid fa-reply"></i>
                                                            Trở về
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                </div><!-- /.container-fluid -->
            </section>
        </div>
    </div>
<th:block th:replace="~{layout/script::script}">
</th:block>
</body>
</html>